@font-face {
  font-family: "main-font";
  src:
    url("04b30.woff2") format("woff2"),
    url("04b30.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "retro-font";
  src:
    url("PressStart2P-Regular.woff2") format("woff2"),
    url("PressStart2P-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
